# Environment variables
.env
thongtin.txt
# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.venv/
.pytest_cache/

# Data and Logs
datalake/
storage/
logs/
*.log
producer.log
spark.log

# IDE
.vscode/
.idea/

# OS specific
.DS_Store
Thumbs.db
