apiVersion: v1
kind: ConfigMap
metadata:
  name: wiki-config
data:
  ENVIRONMENT: "prod"
  KAFKA_BOOTSTRAP_SERVERS: "kafka:9092" # Trong K8s, gọi tên Service là ra IP
  POSTGRES_HOST: "postgres"
  POSTGRES_DB: "wikidata"
  POSTGRES_USER: "admin"
  DB_PORT: "5432"
---
# 1. Job chạy Producer (Chạy nền)
apiVersion: apps/v1
kind: Deployment
metadata:
  name: wiki-producer
spec:
  replicas: 1
  selector:
    matchLabels:
      app: wiki-producer
  template:
    metadata:
      labels:
        app: wiki-producer
    spec:
      containers:
      - name: producer
        image: wiki-pipeline:v6
        imagePullPolicy: Never
        command: ["python3", "-u", "ingestion/producer.py"]
        envFrom:
        - configMapRef:
            name: wiki-config
---
# 2. Job chạy Spark Processing
apiVersion: apps/v1
kind: Deployment
metadata:
  name: wiki-spark
spec:
  replicas: 1
  selector:
    matchLabels:
      app: wiki-spark
  template:
    metadata:
      labels:
        app: wiki-spark
    spec:
      containers:
      - name: spark
        image: wiki-pipeline:v6
        imagePullPolicy: Never
        # Chạy Spark Job
        command: ["python3", "-u", "processing/stream_job.py"]
        envFrom:
        - configMapRef:
            name: wiki-config
        - secretRef:
            name: postgres-secret